.profile__info {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    max-width: 400px;
  }

  @media screen and (max-width: 980px) {
    .profile__info {
      margin-bottom: 30px;
    }
  }
