.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility .3s linear, opacity .3s linear;
}


/* Алексей, добрый день, уже 2ой день тестирую на всех доступных мне устройствах открытие
и только сейчас удалось выяснить, что проблема проявляется при связке Firefox + Mac,
в других брауерах и в Firefox на Windows в том числе "скачек" при открытии не наблюдался.
С механикой работы, при которой один и тот же барузер ведет себя по-разному на разных ОС, знаком не был,
в связи с чем появились затруднения.
Проверил еще раз с помощью https://live.browserstack.com/, открытие попапа проходило плавно, насколько я мог оценить.
Спасибо за понимание. */
