.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility .3s linear, opacity .3s linear;
}


/* Алексей, добрый день, я не могу эффективно исправить баг с неплавным открытием попапа, потому что
он не проявляется ни на одном из доступных мне устройств, в том числе и в Firefox.
Рывок при открытии в Firefox я обнаружил только при первом Вашем упоминании об этом,
все следующие варианты, которые я отправлял Вам на проверку, были рабочими, по крайней мере на моих устройствах.
В данной итерации отправляю Вам с trantition в _opened, но на моих устройствах в браузере Mozilla никаких визуальных изменений
с прошлой итерацией не обнаружено.
Спасибо за понимание. */
