.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity .4s linear;
}

/* Добрый день, думал, что все еще проблема в "скачке" при открытии,
поэтому и не понимал, что конкретно нужно исправить, в связи с чем пытался
искать альтернативные CSS свойства. Только сейчас обратил внимание,
что в firefox отсутствует плавность,
в остальных браузерах такой эффект не проявляется.
Спасибо за понимание. */
