.popup__close-button {
  position: absolute;
  background-image: url('../../../images/popup__close-button.svg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  width: 45px;
  height: 45px;
  top: -38px;
  right: -38px;
  border: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  padding: 0;
}

.popup__close-button:hover {
  opacity: 0.55;
}

@media screen and (max-width: 975px) {
  .popup__close-button {
    width: 40px;
    height: 40px;
    top: -36px;
    right: -36px;
  }
}

@media screen and (max-width: 700px) {
  .popup__close-button {
    width: 35px;
    height: 35px;
    top: -30px;
    right: -30px;
  }
}
