@import url('./__copyright/footer__copyright.css');

.footer {
    max-width: 880px;
    margin: 0 auto;
    padding-bottom: 30px;
  }
  
  @media screen and (max-width: 980px) {
    .footer {
      max-width: calc(2 * 280px + 20px);
    }
  }
  
  @media screen and (max-width: 700px) {
    .footer {
      max-width: 280px;
    }
  }