.card__delete-button {
    position: absolute;
    top: 18px;
    right: 15px;
    background-image: url('../../../images/card__delete-button.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 18px;
    height: 19px;
    cursor: pointer;
    transition: 0.2s linear;
  }



  .card__delete-button:hover {
    opacity: 0.55;
  }
