.form__submit {
  width: 100%;
  height: 50px;
  background-color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  border: none;
  margin-bottom: 15px;
}
