.delete-button {
    position: absolute;
    top: 18px;
    right: 15px;
    background-image: url('../../images/delete-button.svg');
    background-color: transparent;
    border: none;
    width: 18px;
    height: 19px;
    cursor: pointer;
    transition: 0.2s linear;
  }
  
  .delete-button:hover {
    opacity: 0.55;
  }